.line {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background: #23acde;
	height: 34px;
	color: #fff;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
}

.close {
	position: absolute;
	right: 20px;
	cursor: pointer;
}
