.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 34px;
	padding: 0 20px;
}

.right {
	display: flex;
	flex-direction: row;
	align-items: center;
	max-height: 42px;
}

.deposit {
	cursor: pointer;
	height: 100%;
	outline: none;
	border: none;
	padding: 12px 24px;
	border-radius: 10px;
	background: #54aad9;
	color: #fff;
	text-align: center;
	font-size: 15px;
	font-style: normal;
	font-weight: 500;
	margin-right: 16px;
}

.icon {
	cursor: pointer;
	height: 100%;
	background-color: #fff;
	padding: 12px;
	border: none;
	outline: none;
	border-radius: 10px;
	display: flex;
	align-items: center;
	margin-right: 6px;
}

.walletInfo {
	max-height: 42px;
	height: 100%;
	background-color: #fff;
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0 10px;
	padding: 0 4px 0 10px;
	margin-right: 16px;
}

.money {
	cursor: pointer;
	color: #000;
	font-family: Inter;
	font-size: 15px;
	font-style: normal;
	font-weight: 600;
}

.wallet {
	cursor: pointer;
	height: 80%;
	padding: 0 16px;
	display: flex;
	align-items: center;
	border-radius: 8px;
	background: #f4f4f4;
}

.balance {
	cursor: pointer;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0 4px;
	color: #000;
	font-family: Inter;
	font-size: 15px;
	font-style: normal;
	font-weight: 500;
}

.metamask {
	cursor: pointer;
	height: 80%;
	padding: 0 4px;
	border: none;
	outline: none;
	border-radius: 8px;
	background: #ffe0b9;
	display: flex;
	align-items: center;
}

.menu {
	cursor: pointer;
	height: 100%;
	background-color: #fff;
	padding: 12px;
	border: none;
	outline: none;
	border-radius: 10px;
	display: flex;
	align-items: center;
}

@media screen and (max-width: 960px) {
	.container {
		max-width: 700px;
	}
}

@media screen and (max-width: 480px) {
	.right {
		flex-wrap: wrap;
		justify-content: flex-end;
		gap: 10px;
	}
	.icon,
	.deposit,
	.walletInfo {
		margin: 0;
	}
}
