.container {
  max-width: 1500px;
  margin: 0 auto;
  height: 100%;
}


@media screen and (max-width: 960px) {
	.container {
		max-width: 810px;
	}
}
@media screen and (max-width: 480px) {
	.container {
		padding: 0 10px;
	}
}