.nav {
	margin-top: 60px;
}

.navMain {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	max-height: 40px;
	height: 40px;
}
.navMain div {
	background-color: #fff;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 6px;
	height: 100%;
	border-radius: 10px;
	padding: 0 2px;
}

.navMain div div {
	cursor: pointer;
	height: 90%;
	padding: 0 24px;
	border-radius: 8px;
	position: relative;
	font-size: 15px;
	font-style: normal;
	font-weight: 500;
	color: #646774;
	display: flex;
	justify-content: center;
	&::after {
		font-size: 10px;
		background-color: #eaebf6;
		width: 14px;
		height: 14px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		position: absolute;
		right: 8px;
		top: 8px;
	}
}

.navMain div div:nth-child(1) {
	&::after {
		content: "11";
	}
}
.navMain div div:nth-child(2) {
	&::after {
		content: "7";
	}
}
.navMain div div:nth-child(3) {
	&::after {
		content: "3";
	}
}
.navMain div div:nth-child(4) {
	&::after {
		width: 23px;
		content: "99+";
		right: 0;
		border-radius: 20px;
	}
}
.navMain div div:nth-child(5) {
	&::after {
		content: "3";
	}
}

.navMain div div:first-child {
	height: 90%;
	padding: 0 24px;
	border-radius: 8px;
	background: #f4f4f4;
	font-size: 15px;
	font-style: normal;
	font-weight: 500;
	color: #000;
	&::after {
		background-color: #23acde;
		color: #fff;
	}
}

.newButton {
	cursor: pointer;
	border: none;
	outline: none;
	background-color: inherit;
	color: #646774;
	font-size: 15px;
	font-style: normal;
	font-weight: 500;
	padding: 0 40px;
}

@media screen and (max-width: 960px) {
	.navMain div {
		width: 100%;
	}
}

@media screen and (max-width: 480px) {
	.navMain {
		height: auto;
		max-height: none;
	}
	.navMain div {
		padding: 2px;
		width: auto;
		justify-content: center;
		flex-wrap: wrap;
		gap: 2px;
	}
	.navMain div div {
		padding: 10px 24px !important;
	}
}
